* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #fff;
  background: #000;
  overflow: hidden;
}


video.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  opacity: 0.60;
  filter: brightness(0.55);
  z-index: -1;
}


.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;

  opacity: 0;
  transition: opacity 0.5s ease;
}


body.ready .wrapper {
  opacity: 1;
}



.brand {
  letter-spacing: 0.12em;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 0.85rem;
  opacity: 0.85;
  margin-bottom: 28px;
}


.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 320px;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 100%;
  padding: 14px 20px;
  border-radius: 999px;

  background: rgba(0, 24, 132, 0.79);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 0.85rem;

  border: 1px solid transparent;
  transition: 0.2s;
}

.btn:hover {
  background: transparent;
  color: #ffffff;
  border-color: #fff;
  box-shadow: 0 0 20px rgb(255, 238, 0);
}


.footer {
  position: absolute;
  bottom: 20px;   
  left: 50%;
  transform: translateX(-50%);

  font-size: 0.9rem;
  letter-spacing: 0.25em;
  opacity: 1;
  text-transform: uppercase;
}

